{
 "singleQuote": false,
 "tabWidth": 1,
 "trailingComma": "es5",
 "printWidth": 80,
 "plugins": ["prettier-plugin-tailwindcss"],
 "importOrder": [
  "^[./]",
  "^react$",
  "^@core/(.*)$",
  "<THIRD_PARTY_MODULES>",
  "^@server/(.*)$",
  "^@components/(.*)$",
  "^@ui/(.*)$",
  "^@/(.*)$"
 ],
 "importOrderParserPlugins": ["jsx", "decorators-legacy"],
 "importOrderTypeScriptVersion": "5.0.0",
 "importOrderCaseSensitive": false
}
